

#kBox{

  width: 90%;
  margin-left: 3%;
  margin-bottom:3%;
}


.calendar {
  width: 100%;
  padding: 40px 30px;
  border-radius: 10px;
  font-family: 'Kalam', cursive;
}
.calendar .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  border-bottom: 2px solid #ccc;
}
 .month {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-family: var(--headlines);
  font-weight: 600;
  color: var(--lila);
}
.btns {
  display: flex;
  gap: 10px;
}
.btns .btn {
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color:var(--lila);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}

.weekdays {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.weekdays .day {
  width: calc(100% / 7 - 10px);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.calendar .days {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.calendar .days .day {
  width: calc(100% / 7 - 10px);
  height: 50px;
  background:var(--hellLila);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: black;
  transition: all 0.3s;
  user-select: none;
}
.calendar .days .day:not(.next):not(.prev):hover {
  color:var(--lila);
  background: var(--primary-color);
  transform: scale(1.05);
}
.days .day.next,.days .day.prev {
  color:var(--hellLila);
}
.calendar .days .day.today {
  color:white;
  background: black;
}


@media screen and (max-width: 1330px){

  #clockHeader #clock{
    margin-left: 75%;
  }

}

@media screen and (max-width: 1060px){

  #clockHeader #clock{
    margin-left: 70%;
    margin-top: 2%;
  }

}

@media screen and (max-width: 900px){

  #clockHeader #clock{
    margin-left: 68%;
    margin-top: 2%;
  }

  #clockHeader h4{
    margin-top: 4%;
  }

}


@media screen and (max-width: 800px){

  #clockHeader #clock{
    margin-left: 60%;
    margin-top: 4%;
  }

  
}


@media screen and (max-width: 650px){

  #clockHeader #clock{
   display: none;
  }

  #clockHeader h4{
    margin-top: 7%;

  }
  
  #kBox{
    margin-left: 0%;
  }
}





.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Popup-Inhalt */
.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

/* Schließen-Schaltfläche */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}